/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .signin-mobile,
  .signup-mobile {
    display: none;
  }
}

/* tablet and mobile */
@media screen and (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  .toggle-menu svg {
    width: 24px;
    height: 24px;
  }

  .toggle-menu {
    z-index: 3;
  }

  .navbar ul {
    display: none;
  }

  .navbar .logo__navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3;
  }

  .menu-drawer {
    position: fixed;
    padding: 40px 0 0 40px;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 2;
    transform: translate(-100%);
    transition: transform ease 0.3s;
    padding: 60px;
  }

  .menu-drawer ul {
    margin-top: 30px;
  }

  .menu-drawer ul a {
    display: block;
    color: #333;
    padding: 14px 20px 14px 0;
  }

  .menu-checkbox {
    display: none;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    visibility: visible;
    opacity: 1;
    transition: all ease 0.3;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }

  .separate {
    border-top: 1px solid #ebebeb;
  }

  .hero-img {
    display: none;
  }

  .hero .info {
    width: 80%;
    text-align: center;
    margin: 0px auto;
  }

  .hero .desc {
    width: 80%;
    margin: 0px auto;
  }

  .trademark {
    flex-direction: column;
  }

  .clients .trademark a {
    display: inline-block;
    line-height: 120px;
    text-align: center;
    width: 100%;
    border: 1px solid #f7f6f6;
  }

  .guides .guide-items {
    margin: 0px;
    flex: 1;
  }

  .featured .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .featured .list .item {
    max-width: 400px;
  }

  .stats .row {
    flex-direction: column-reverse;
  }

  .stats .row .info {
    padding: 0;
  }

  .stats .img-block,
  .info {
    width: 100%;
  }

  .stats .info .sub-title {
    width: 80%;
    line-height: 129%;
  }

  .stats .info .desc {
    width: 90%;
  }

  .stats .row.qty-list {
    flex-direction: row;
  }

  .stats .qty-item .qty {
    font-size: 5rem;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .signin-mobile,
  .signup-mobile {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 767.98px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .navbar .actions {
    display: none;
  }

  .hero .info,
  .hero .desc {
    width: 100%;
  }

  .featured .sub-title {
    text-align: center;
  }

  .featured .row {
    width: 90%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 20px auto 0;
  }

  .featured .list {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }

  .featured .list .item {
    margin: 0px auto;
  }

  .stats .img-block .thumb-stat {
    max-width: 350px;
  }

  .stats .qty-item .qty {
    font-size: 3rem;
  }

  .stats .row.qty-list {
    padding: 0;
  }

  .stats .row.qty-list {
    flex-direction: column;
  }

  .qty-list.qty-item {
    display: flex;
    align-items: center;
  }
}
