/* PC */
@media screen and (min-width: 992px) {
}

/* tablet and mobile */
@media screen and (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  .toggle-menu svg {
    width: 24px;
    height: 24px;
  }

  .toggle-menu {
    z-index: 3;
  }

  .navbar ul {
    display: none;
  }

  .navbar .logo__navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 2;
    transform: translate(-100%);
    transition: transform ease 0.3s;
  }

  .menu-checkbox {
    /* display: none; */
  }
  .menu-checkbox:checked ~ .menu-overlay {
    visibility: visible;
    opacity: 100%;
    transition: all ease 0.3;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(100%, 0);
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

/* mobile */
@media screen and (max-width: 767.98px) {
}
